/* здесь используйте глобальные переменные */
$primary-font: "Montserrat", "Arial", sans-serif;

$text-base-color: #333333;

$white-color: #ffffff;
$light-gray: #e2e2e2;
$light-primary: #9070ec;
$base-gray-color: #bdbdbd;
$base-primary-color: #7859cf;
$base-secondary-color: #f0ebff;

$bg-flat-white-color: #f3ebe1;
$bg-lavender-color: #eae6fc;
$bg-espresso-color: #e5e6e8;
$bg-lightest-grey: #f8f8f8;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
