.page {
  height: 100%;
}

.page__body {
  font-family: $primary-font;
  color: $text-base-color;
  font-size: 20px;
  line-height: 32px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__header {
  width: 320px;

  @include flex-box ($flex-direction: row, $justify-content: flex-start);
  padding: 0 10px;
  margin: 0 auto;
  gap: 0;

  @media (min-width: $tablet-width) {
    padding: 0 15px 0 10px;
    width: 100%;
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 40px;
    gap: 20px;
  }
}
